// DarkPixlz 2023



//////////////////////////////////////////







// centered header

.d-header-wrap {
    top:5px;
    text-align: center;
    display: block;
    margin: auto;
  }

// move logo over a bit

.d-header .title {
    margin-right: 10px;
}

.user-card.show, .group-card.show, .user-card .card-content, .group-card .card-content {
  width:650px;
}

@if $Full_Width == "true" {
  #reply-control {
    width:75%;
    max-width:75%
  }
}